/* Add CSS Styling */
.odd {
  background-color: #ffc0cb;
  font-family: Verdana, "DejaVu Sans", sans-serif;
}

.adjust-font-size {
  font-size: 24px;
}

#second {
  color: #0000ff; /*blue*/
  font-size: 36px;
}

#fourth {
  font-weight: bold;
  background-color: #90ee90; /*light green*/
  font-size: 24px;
}
